{% include base_path %}

<!-- start custom head snippets -->


<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- favicon - NYU torch -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/nyu_torch.jpg"/>
<link rel="icon" type="image/jpeg" href="{{ base_path }}/images/nyu_torch.jpg"/>
<meta name="theme-color" content="#ffffff"/>

<meta name="google-site-verification" content="_Xgy_cnlpoHr5YBrSUB0oWCKlZgIysEeNJCVejKokpM" />

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Ivan San Miguel",
  "jobTitle": "PhD Candidate",
  "affiliation": { "@type": "CollegeOrUniversity", "name": "New York University" },
  "url": "https://ivansanmiguel.github.io",
  "image": "https://ivansanmiguel.github.io/images/San_Miguel_Ivan_005.jpg",
}
</script>

<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">


<!-- end custom head snippets -->
